{% extends 'base.html.twig' %}

{% block body %}
    <div class="w100 erreur-connexion">
        <h1 class="titre">{{ title }}</h1>
        <h3 class=text-center>Vous n'avez pas le droit d'acceder à cette page !</h4>
        <h4 class=text-center>Veuillez-consulter le responsable de l'application.</h4>
    </div>
{% endblock %}