{% extends 'base.html.twig' %}

{% block aside_left %}
    <img src="{{asset('img/afpa.png')}}" alt="" width="100%" class="my-4">
{% endblock %}

{% block body %}
    <h1 class="titre text-white">Bonjour les DWWM</h1>
{% endblock %}

{% block aside_right %}
    <img src="{{ asset('img/worker1.jpg')}}" alt="" width="100%" class="my-4">
{% endblock %}