{% extends 'base.html.twig' %}

{% block title %}New Tiers{% endblock %}

{% block body %}
<div class="w70 m-auto">
        <h1 class="titre my-5">CREATION TIERS</h1>

    {{ include('tiers/_form.html.twig') }}

    <a class="btn btn-md btn-primary mt-2" href="{{ path('app_tiers_index') }}">Retour à la liste</a>
</div>
{% endblock %}
